/* This section is one where i need to train quite abit to get everything 
where i want it to be, any critics are most welcome.

I presume there should be style attributes that i dont need in the code below, 
but i dare not do anything more right now incase of meltdown :-) */


/* Basic parent styling for the html page */
body {
    width: 100%;
    background-color: lightgrey;
    font-family: 'Titillium Web', sans-serif;
}

/* Feature ala Bootstrap, to showoff important information, in this case me!! */
.jumbotron {
    background-image: url(/img/me.jpg);
    background-position: center;
    height: 600px;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
    
}

/* div with some brief information about me */
.shortAbout {
    background-color: rgba(211, 211, 211, 0.6);
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin-left: 10%
}

/* container for social media icons */
.socialMedia {
    border: none;
    background-color: lightgrey;
    padding: 0;
    justify-content: left;
    width: 200px;
}

/* list with social media icons */
ul {
    width: 300px;
}

/* FontAwsome attribues */
i {
    margin: 10px;
    z-index: 3;
    font-size: 2em;
}

/* aligning FontAwsome icon */
.fab, .fas {
    vertical-align: -20%
}

/* List items for socialmedia icons */
.list-group {
    background-color: rgba(240, 248, 255, 0.5);
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
}

/* div containers separated by using rowfrom bootstrap */
.row {
    margin-bottom: 50px;
}

/* container for Curriculum Vitae */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

/* aligning progress bars */
.progress {
    margin-top: -4%;
    width: 80%;
    margin-left: 3%;
}

/* Setting colors on icons */
.html {
    background-color: orangered;
}

.css {
    background-color: blue;
}

.js {
    background-color: darkorange;
}

.cSharp {
    background-color: rgb(168, 43, 168);
}

.sql {
    background-color: black;
}

/* Basic style attributes regarding google maps */
#map {
    height: 500px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
    opacity: .7;
    z-index: 0;
    position: relative;
}

/* smartphone portrait */
@media only screen and ( min-width: 300px){
    .jumbotron{
        justify-content: center;
    }
    .shortAbout{
        margin-left:0%;
    }
}
/* smartphone landscapes */
@media only screen and (min-width: 480px){
    .jumbotron{
        justify-content: center;
    }
    .shortAbout{
        margin-left: 0%;
    }

    .about > div >h3{
        font-size: 20px;
    }
}
/* tablets portrait */
@media only screen and (min-width: 768px){
    .jumbotron{
        justify-content: flex-end
    }
    
}
/* Tablet landscape, desktop */
@media only screen and (min-width: 1024px){
    .about > div >h3{
        font-size: 30px;
    }
}

/* Very large desktops */
@media only screen and (min-width: 1199px){
    .jumbotron {
        display: flex;
    }
    .shortAbout{
        margin-right: 20%;
    }
}