/* This section is one where i need to train quite abit to get everything 
where i want it to be, any critics are most welcome.

I presume there should be style attributes that i dont need in the code below, 
but i dare not do anything more right now incase of meltdown :-) */


/* Basic parent styling for the html page */
html, body {
    width: 100%;
    background-color: lightgrey;
    font-family: 'Titillium Web', sans-serif;
}

/* Feature ala Bootstrap, to showoff important information, in this case me!! */
.jumbotron {
    background-image: url(../img/me.jpg);
    background-position: center;
    height: 600px;
    background-position-y: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    border-radius: 0;
    padding-right: 10%;
}

ul {
    width: 300px;
}

.shortAbout {
    background-color: rgba(211, 211, 211, 0.6);
    display: flex;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
}

.socialMedia {
    border: none;
    background-color: lightgrey;
    padding: 0;
    justify-content: right;
    width: 200px;
}

i {
    margin: 10px;
    z-index: 3;
    font-size: 2em;
}

.flex-container-teaser {
    direction: rtl;
}

.list-group {
    background-color: rgba(240, 248, 255, 0.5);
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
}

.knowledge {
    margin-bottom: 50px;
}

.about {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.fab, .fas {
    vertical-align: -20%
}

.progress {
    margin-top: -4%;
    width: 80%;
    margin-left: 3%;
}

.html {
    background-color: orangered;
}

.css {
    background-color: blue;
}

.js {
    background-color: darkorange;
}

.cSharp {
    background-color: rgb(168, 43, 168);
}

.sql {
    background-color: black;
}

/* Basic style attributes regarding google maps */
#map {
    height: 500px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
    opacity: .7;
    z-index: 0;
}


/* Applying media rules below, beware im still not getting the screen centered between some resolutions.
But this will have to suffice for now.*/
@media screen and (min-width: 1000px) {
    .row {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 860px) {
    .row {
        justify-content: center;
        padding-right: 7%
    }
    .jumbotron {
        justify-content: center;
    }
    .shortAbout {
        margin-top: 0%;
    }
}

@media screen and (max-width: 370px) {
    .jumbotron {
        padding-right: 3%
    }
}
